*{
	margin: 0;
	padding: 0;
}

h1{
	font-size: 80px;
	/*degradado como fondo del texto*/
	background: linear-gradient(yellow,rgb(145, 22, 22));
	/*para que el texto funcione como mascara*/
	-webkit-background-clip: text;
	/*podemos ver el degradado con*/
	color: transparent;
	margin-left:1475px;
	margin-bottom: 100px;
}
body{

	background: rgb(60,52,194);
	background: linear-gradient(180deg, rgba(60,52,194,1) 0%, rgba(72,72,226,1) 39%, rgba(63,192,218,1) 100%);
}


#box-out{
	background-image: linear-gradient(right top, rgb(66,74,70) 15%, rgb(142,148,148) 58%);
	background-image: -o-linear-gradient(right top, rgb(66,74,70) 15%, rgb(142,148,148) 58%);
	background-image: -moz-linear-gradient(right top, rgb(66,74,70) 15%, rgb(142,148,148) 58%);
	background-image: -webkit-linear-gradient(right top, rgb(66,74,70) 15%, rgb(142,148,148) 58%);
	background-image: -ms-linear-gradient(right top, rgb(66,74,70) 15%, rgb(142,148,148) 58%);
	background-image: -webkit-gradient(linear,right top,left bottom,color-stop(0.15, rgb(66,74,70)),color-stop(0.58, rgb(142,148,148)));
	width:300px; height: 860px;
	border:solid 1px;
	border-radius: 10px;
	margin-top: 120px;
    margin-left: 1400px;
	padding: 20px 30px 50px 30px;
	transition:width 2s, height 2s;
	-webkit-transition:width 2s, height 2s, -webkit-transform 2s; /* Safari and Chrome */

}



.box-inside{
	/*background: black;*/
	background: rgb(10,8,9);
	background: -moz-linear-gradient(-45deg, rgba(10,8,9,1) 0%, rgba(10,14,10,1) 71%, rgba(110,119,116,1) 74%, rgba(174,188,191,1) 77%, rgba(174,188,191,1) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(10,8,9,1)), color-stop(71%,rgba(10,14,10,1)), color-stop(74%,rgba(110,119,116,1)), color-stop(77%,rgba(174,188,191,1)), color-stop(100%,rgba(174,188,191,1)));
	background: -webkit-linear-gradient(-45deg, rgba(10,8,9,1) 0%,rgba(10,14,10,1) 71%,rgba(110,119,116,1) 74%,rgba(174,188,191,1) 77%,rgba(174,188,191,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(10,8,9,1) 0%,rgba(10,14,10,1) 71%,rgba(110,119,116,1) 74%,rgba(174,188,191,1) 77%,rgba(174,188,191,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(10,8,9,1) 0%,rgba(10,14,10,1) 71%,rgba(110,119,116,1) 74%,rgba(174,188,191,1) 77%,rgba(174,188,191,1) 100%);
	background: linear-gradient(135deg, rgba(10,8,9,1) 0%,rgba(10,14,10,1) 71%,rgba(110,119,116,1) 74%,rgba(174,188,191,1) 77%,rgba(174,188,191,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0809', endColorstr='#aebcbf',GradientType=1 );
	border-radius: 10px;
	width:200px; height: 770px;
	border: solid 1px;
	position:relative;
	padding: 20px 30px 20px 30px;
	/*margin: 15px auto;*/
	transition:width 2s, height 2s;
	-moz-transition:width 2s, height 2s, -moz-transform 2s; /* Firefox 4 */
	-webkit-transition:width 2s, height 2s, -webkit-transform 2s; /* Safari and Chrome */
	margin: 20px auto ;
	 
}

.color0{
	border-radius: 40px;
	width:50px; height: 50px;
	position:relative;
	top: 0; left: 0;

	background: rgb(255,255,255);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(71,75,68,1) 50%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(71,75,68,1)), color-stop(100%,rgba(255,255,25,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(71,75,68,1) 50%,rgba(255,255,255,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(61,152,1671,75,68,1) 50%,rgba(255,255,255,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(71,75,68,1) 50%,rgba(255,255,255,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(71,75,68,1) 50%,rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76d941', endColorstr='#76d941',GradientType=1 );
	}


.circle{
	margin-top: 20px;
	border-radius: 200px;
	width:210px; height: 210px;
	position:relative;
	top: 0; left: 0;
}


#R{
	/*background: #00CC33;*/
	background: rgb(255, 0, 0, 0.233);

	}


#A{
	/*background: #00CC33;*/
	background: rgb(255, 251, 0, 0.308);
	
}

#V{
	/*background: #00CC33;*/
	background: rgb(43, 255, 0, 0.164);
	
}

#R1{
	/*background: #00CC33;*/
	background: rgb(255, 0, 0, 0.233);
	}


#A1{
	/*background: #00CC33;*/
	background: rgb(255, 251, 0, 0.308);
}

#V1{
	/*background: #00CC33;*/
	background: rgb(43, 255, 0, 0.164);
}




/*-------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------------*/
/*SEGUNDO SEMAFORO*/

#box-out2{
	background-image: linear-gradient(right top, rgb(66,74,70) 15%, rgb(142,148,148) 58%);
	background-image: -o-linear-gradient(right top, rgb(66,74,70) 15%, rgb(142,148,148) 58%);
	background-image: -moz-linear-gradient(right top, rgb(66,74,70) 15%, rgb(142,148,148) 58%);
	background-image: -webkit-linear-gradient(right top, rgb(66,74,70) 15%, rgb(142,148,148) 58%);
	background-image: -ms-linear-gradient(right top, rgb(66,74,70) 15%, rgb(142,148,148) 58%);
	background-image: -webkit-gradient(linear,right top,left bottom,color-stop(0.15, rgb(66,74,70)),color-stop(0.58, rgb(142,148,148)));
	width:300px; height: 860px;
	border:solid 1px;
	border-radius: 10px;
    margin-top: -900px;
    margin-left: 2000px;
	padding: 20px 30px 50px 30px;
	transition:width 2s, height 2s;
	-webkit-transition:width 2s, height 2s, -webkit-transform 2s; /* Safari and Chrome */
	position: relative;
	bottom: 35px;

}


h2{
	text-align: center;
	color: lavenderblush;
	font-size: 40px;
}

#form{
    width: 800px; height: auto;
	/*margin: -918px auto;*/
	/* Para que el cuadro quedeen la parte izquierda de la pantalla*/
    margin-left: 80px;
	margin-top: -1000px;
	background: rgba(10, 8, 9, 0.452);
	/*el espacio del relleno*/
	padding: 10px;
	border: inset 10px;
	font-size: 200%;
}
/*selecciona todos los elementos h1 que pertencen a id form*/
#form h3{
	text-align: center;
}
#form label{
	font-size: 40px;
}
#form input{
	height: 40px;
	width: 280px;
	font-size: 35px;
}

#datos{
	width: 270px auto;
	height: 395px auto;
	background: linear-gradient(rgba(167, 255, 120, 0.849),rgb(15, 77, 7));

}
#registrarse{
	margin-top: 10px;
	width: 270px auto;
	height: 395px auto ;
	background: rgba(255, 236, 125, 0.849);
	background: linear-gradient(rgba(189, 207, 19, 0.89),rgba(255, 236, 125, 0.849));

}

#boton{
	background-color: rgb(156, 107, 61);
	color: #FFFF;
	font-size: 25px;
	width: 120px;
	height: 60px;
	margin: 5px;
	border-radius: 10px;
}